body{
    background-color: #542283 ;
    background-image: url(../koslong.png); 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 1000px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    font-size: 20px;
        font-family: sans-serif;
        color: #333;
      }
      .question{
        font-weight: 600;
      }
      .answers {
          margin-bottom: 20px;
      }
      #submit{
        font-family: sans-serif;
        font-size: 20px;
        background-color: #297;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        margin-bottom: 20px;
      }
      #submit:hover{
        background-color: #3a8;
      }
.qPanel{
    margin:auto;
    width:800px;
    vertical-align: center;
    margin:0 auto;
    background-color: #8d64a8 ;
    border: none ;
    border-radius : 10px ;
    padding: 20px ;
    height: 160px ;
    font-size: 15pt;
}
.ques{
    font-size : 18pt;
    font-weight: bold ;
}
.nxtBtn{
    position: relative ;
    right : 10px ;
    float: right;
    border:none ;
    font-size: 18pt ;
    background-color: #542283  ;
    color: #ffffff ;
    width: 80px ;
    height: 35px ;
}
